.foto2{max-height: 120px}
.apie{margin-top: 1px}
#logotipas{max-height: 80px}
#pagrindineFoto{max-width: 100%}
#aliexpress1{max-width: 60%;
height: 200px}
#aliexpress2{max-width: 60%;
height: 200px}
#aliexpress3{max-width: 60%;
height: 200px}
body{background-color: #ffccbc}
.pavadinimas{color: #512da8}
.karusele{max-width: : 200px}
.apieMusTekstas{font-size: 18px}
.detales{font-size: 15px}
.n4 {max-width: 60%;height: 200px}
.v6 {max-width: 60%;height: 200px}
.l1 {max-width: 60%;height: 200px}
.fotologo{max-width: 80%}

.stulpelis {
  min-height: 250px;
  border: 2px solid #512da8;
}

.stulp{
      min-height: 350px;
  border-top: double 3px #512da8;
  border-bottom: double 3px #512da8;
}

.stulpelis1{
  height: 250px;
  border-top: solid 2px #512da8;
  border-bottom: solid 2px #512da8;
  border-left: solid 2px #512da8;
}
.stulpelis2{
  height: 250px;
  border-top: solid 2px #512da8;
  border-bottom: solid 2px #512da8;
}
.stulpelis3{
  height: 250px;
  border-top: solid 2px #512da8;
  border-bottom: solid 2px #512da8;
  border-right: solid 2px #512da8;
}

.stilpel{
  min-height: 200px;
  border-top: solid 2px #512da8;
  border-bottom: solid 2px #512da8;
  border-left: solid 2px #512da8;
  border-right: solid 2px #512da8;
}

.karus{
  border: dotted 6px #512da8;
}
.naujienuStulpelis{
  min-height: 200px;
  border: solid 2px #512da8;
  margin-bottom: 10px;
}

.stulp1{
  min-height: 360px;
  border: solid 2px #512da8;
  margin-bottom: 20px;
}

#title{
max-width: 100%;
}
.fotoJustina{max-width: 80%}
.fotoGintare{max-width: 100%}

.st1{
    height: 350px;
  border-top: double 3px #512da8;
  border-bottom: double 3px #512da8;
}

.st11{
    height: 270px;
  border-top: double 3px #512da8;
  border-bottom: double 3px #512da8;
}

.st2{
    height: 350px;
  border-top: double 3px #512da8;
  border-bottom: double 3px #512da8;
}

.fotoTitle{max-width: 100%}

.pyragas{margin: 100px;}

.stulp5{
    min-height: 400px;
  border-top: double 3px #512da8;
  border-bottom: double 3px #512da8;
}

.stulp6{
    min-height: 400px;
  border-top: double 3px #512da8;
  border-bottom: double 3px #512da8;
}

.stulp7{
    min-height: 450px;
}

.fotoG{max-width: 100%}
